################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/transparentProxy.ProductService/.vs/transparentProxy.ProductService/v16/Server/sqlite3
